<h1>{{'signIn.title' | translate}}</h1>
<form [formGroup]="myForm" (ngSubmit)="onSignin()">
  <md-card>
    <md-input-container>
      <input mdInput type="email"  formControlName="email" name="email" (ngModel)="email" placeholder="{{'signIn.mail' | translate}}" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="password" formControlName="password" name="password" (ngModel)="password" placeholder="{{'signIn.mdp' | translate}}" >
    </md-input-container>
    <button md-raised-button color="primary" type="submit" [disabled]="!formData.valid">{{'signIn.btn-send' | translate}}</button>
  </md-card>
</form>
<h2>{{'signIn.subtitle' | translate}}</h2>
<button (click)="login('GitHub')" type="button">GitHub</button>
<button (click)="login('Google')" type="button">Google</button>
<button (click)="login('Twitter')" type="button">Twitter</button>
<button (click)="login('Facebook')" type="button">Facebook</button>
<h3>{{'signIn.subtitle1' | translate}}</h3>
<a routerLink="/sign-up">{{'signIn.link' | translate}}</a>
<a routerLink="/reset-password">{{'signIn.link1' | translate}}</a>
