button {
    font-weight: normal !important;
    margin: 10px 0 !important;
}
button img {
    margin: 10px;
}
@media screen and (max-width: 480px) {
    a {
        display: block;
        margin-bottom: 10px;
    }
}
