<h1>{{'signUp.title' | translate}}</h1>
<form [formGroup]="myForm" (ngSubmit)="onSignup()">
  <md-card>
    <md-input-container>
      <input mdInput type="text" formControlName="username" name="username" (ngModel)="username" placeholder="{{'signUp.username' | translate}}">
    </md-input-container>
    <md-input-container>
      <input mdInput type="email" formControlName="email" name="email" (ngModel)="email" placeholder="{{'signUp.mail' | translate}}">
    </md-input-container>
    <md-input-container>
      <input mdInput type="password" formControlName="password" name="password" (ngModel)="password" placeholder="{{'signUp.mdp' | translate}}">
    </md-input-container>
    <button md-raised-button color="primary" type="submit" [disabled]="!formData.valid">{{'signUp.btn-send' | translate}}</button>
  </md-card>
</form>
<h2>{{'signUp.subtitle' | translate}}</h2>
<a routerLink="/sign-in">{{'signUp.link' | translate}}</a>
