<md-tab-group>

  <md-tab label="Movies">
    <h1>Movies</h1>
    <div class="items" *ngIf="movies">
      <div class="item" *ngFor="let movie of movies.results">
        <a [routerLink]="['/movie', movie.id]">
          <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="poster movie" width="200">
          <img *ngIf="!movie.poster_path" src="http://ddbu.billiardport.com/img/posters/no_poster_available.jpg" width="200">
          <p>{{movie.title}}</p>
        </a>
        <p>{{movie.release_date | date}}</p>
      </div>
      <div class="item">
        <our-pagination align="center" [total]="pager.totalPages" (onPage)="setPage($event)"></our-pagination>
      </div>
    </div>
    <div *ngIf="!movies">
      <h1>{{'search.title' | translate}}
        <md-icon>sentiment_very_dissatisfied</md-icon>
      </h1>
    </div>
  </md-tab>

  <md-tab label="Books">
    <h1>Books</h1>
    <bc-find-book-page></bc-find-book-page>
  </md-tab>

  <md-tab label="Albums">
    <h1>Albums</h1>
    <p>...</p>
  </md-tab>

</md-tab-group>
