@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:  mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

$grey: mat-palette($mat-grey);
$grey-darker-color: mat-color($grey, darker);

$primary-color: mat-color($primary);
$primary-lighter-color: mat-color($primary, lighter);
$primary-darker-color: mat-color($primary, darker);

$accent-color: mat-color($accent);
$accent-lighter-color: mat-color($accent, lighter);
$accent-darker-color: mat-color($accent, darker);
