@include angular-material-theme($theme);

md-card > md-card-actions:last-child {
    margin-bottom: 0 !important;
}
md-card {
    margin: 10px 0;
}
md-card-title,
md-card-content {
    text-align: left;
}
[md-card-image] {
    width: calc(100% + 20px) !important;
}
.md-movies {
    font-size: 32px;
    vertical-align: middle;
}
.md-green {
    color: #4caf50;
}
.md-orange {
    color: rgb(255, 87, 34);
}
.md-red {
    color: #f44336;
}
.md-yellow {
    color: #ffc107;
}
.md-teal {
    color: #009688;
}
.mat-icon {
    vertical-align: middle;
}
md-input-container {
    margin-right: 15px;
}
md-slide-toggle {
    padding: 8px 24px;
}
md-slide-toggle input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    text-transform: none;
    border: 0;
}
@media screen and (max-width: 480px) {
    md-checkbox,
    md-input-container {
        display: block !important;
        margin: 40px 0;
    }
}
