<md-card *ngIf="music">
  <md-card-header>
    <md-card-title>{{music.album.name}}</md-card-title>
    <md-card-subtitle>
      <!--<md-icon>date_range</md-icon> {{music.album. | date}} |
      <span *ngIf="music.volumeInfo.averageRating >= 5"> <md-icon class="md-green">thumb_up</md-icon> {{music.volumeInfo.averageRating}} | </span>
      <span *ngIf="music.volumeInfo.averageRating < 5"> <md-icon class="md-red">thumb_down</md-icon> {{music.volumeInfo.averageRating}} | </span>
      -->
      <!--
      <div class="genre" *ngFor="let genre of music.genres; let i=index">
        <span *ngIf="i < 3">{{genre.name}} </span>
      </div>
      -->
      <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon>share</md-icon>
            </button>
      <md-menu #menu="mdMenu">
        <a md-menu-item href="https://plus.google.com/share?url=https://hubbooks-a26fc.firebaseapp.com/music/{{music.id}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google +
                </a>
        <a md-menu-item href="https://www.facebook.com/sharer/sharer.php?u=https://hubbooks-a26fc.firebaseapp.com/music/{{music.id}}">Facebook</a>
        <a md-menu-item href="https://twitter.com/intent/tweet?text=Discovers the music {{music.album.name}}%20on%20&url=https://hubbooks-a26fc.firebaseapp.com/music/{{music.id}}&hashtags=hubbooks, {{music.album.name}}">Twitter</a>
        <a md-menu-item href="mailto:?subject={{music.album.name}} on Hubbooks&body=Discovers the music on https://hubbooks-a26fc.firebaseapp.com/music/{{music.id}}">Email</a>
      </md-menu>
    </md-card-subtitle>
  </md-card-header>
  <img [src]="music.album.images[0].url" alt="poster music">
  <md-card-content>
    <p>{{music.album.type}}</p>
  </md-card-content>
  <md-card-actions>
    <div [hidden]="!isConnected">
      <button md-button (click)="saveBook(music, 'BookLater')"><md-icon class="md-teal">watch_later</md-icon> {{'music.watch' | translate}}</button>
      <button md-button (click)="saveBook(music, 'FavoriteBook')"><md-icon class="md-yellow">star</md-icon> {{'music.star' | translate}}</button>
    </div>
  </md-card-actions>
</md-card>

<!--
<h1 *ngIf="similarBooks">{{'music.title' | translate}}</h1>
<div class="items" *ngIf="similarBooks">
  <div class="item" *ngFor="let music of similarBooks.results; let i=index">
    <div *ngIf=" i < 12">
      <a [routerLink]="['/music', music.id]">
        <img *ngIf="music.poster_path" src="https://image.tmdb.org/t/p/w500/{{music.poster_path}}" alt="poster music" width="200">
        <img *ngIf="!music.poster_path" src="http://ddbu.billiardport.com/img/posters/no_poster_available.jpg" alt="No poster available"
          width="200">
        <p>{{music.title}}</p>
      </a>
    </div>
  </div>
-->
